
.image_debut {
    background-image: url(../img/photo/ranges_fraises.jpeg);
    background-repeat: no-repeat;
    background-position: center 25%;
    background-size: cover;
    height : 30em;
}

@media (max-width:768px){
    .image_debut{ height:18em; }
}

@media (max-width:480px){
    .image_debut{ height:12em; }
}